---
import { Image } from 'astro:assets'
import casaDulceLogo from '../assets/BonLogo.png'
---
<div class="w-full p6 text-xl flex space-between bg-gray border-b p-6">
    <div class="max-w-screen-xl w-full mx-auto flex justify-between ">
        <nav>
            <a href="/link">a</a>
        </nav>
    </div>
</div>