---
import { Image } from 'astro:assets'
import casaDulceLogo from '../assets/BonLogo.png'
---
<header class="w-full p6 text-xl flex space-between border-b-gray border-b py-6 px-6">
    <div class="max-w-screen-xl w-full mx-auto flex justify-between">
        <Image src={casaDulceLogo} alt="Case Dulce" width="200"/>
        <nav>
            <a href="/link">a</a>
        </nav>
    </div>
</header>